
body{
    margin: 0;
    padding: 0;
    background-image: url("https://cdn2.vectorstock.com/i/1000x1000/48/76/shiny-star-background-design-vector-874876.jpg");
    
    background-size: cover;

}
.keys{
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
.key{
    width: 100px;
    border: black 4px solid;
    border-radius: 5px;
    color: white;
    margin: 1rem;
    padding: 1.5 rem;
    text-align: center;
    background-color: rgb(63, 58, 58);
    display: block;
    font-size: 1.5rem;
    transition: 0.07;
    text-shadow: 0.0 5px black;
}
.playing{
    transform: scale(1.1);
    border-color:yellow ;
    box-shadow: 0 0 10px yellow;    
}
kbd{
    font-size: 40px;
    display:block;
}

  
  .sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
  }
   